.ad-root-nav__link {
  position: relative;

  display: block;
  height: 35px;
  padding: 0 10px;

  color: var(--ad-color__secondary);
  line-height: 35px;
  font-weight: 700;
  vertical-align: baseline;
  text-decoration: none;

  opacity: .5;
  outline: none;

  transition-duration: 300ms;

  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;

    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--ad-color__secondary);

    transition-duration: 300ms;
    transform-origin: center bottom;
    transform: scale(0);
  }

  &:hover,
  &:active,
  &:focus {
    border-radius: 3px;
    background-color: var(--ad-color__secondary_inactive);
    opacity: .85;
  }
}

@import "_active/_ad-root-nav__link_active";
