<ul class="ad-page-nav__list" @sideNavAnimations *ngIf="navigationList">
  <li class="ad-page-nav__item" *ngFor="let navigationItem of navigationList">
    <a
      *ngIf="!navigationItem.children"
      class="ad-page-nav__link"
      routerLinkActive="ad-page-nav__link_active"
      [routerLink]="navigationItem.path">
      {{ navigationItem.name }}
    </a>
    <div
      *ngIf="navigationItem.children"
      class="ad-page-nav__wrap"
      routerLinkActive="ad-page-nav__link_active"
      [routerLinkActiveOptions]="{ exact: navigationItem.isShowChildren }">
      <button class="ad-page-nav__button" (click)="toggleChildrenDisplay(navigationItem)"></button>
      <a
        class="ad-page-nav__link ad-page-nav__link_parent"
        [routerLink]="navigationItem.path"
        (click)="toggleChildrenDisplay(navigationItem)">
        {{ navigationItem.name }}
      </a>
    </div>
    <ul
        class="ad-page-nav__list ad-page-nav__list_sub"
        *ngIf="navigationItem.children && navigationItem.isShowChildren"
        @sideSubNavAnimations>
      <li class="ad-page-nav__item">
        <div *ngIf="navigationItem.isShowChildren">
          <a
            *ngFor="let child of navigationItem.children"
            class="ad-page-nav__link ad-page-nav__link_child"
            routerLinkActive="ad-page-nav__link_active"
            [routerLink]="child.path">
            {{ child.name }}
          </a>
        </div>
      </li>
    </ul>
  </li>
</ul>
