.ad-root-nav {
  max-width: 800px;
  margin-top: 2px;
  padding-left: 50px;

  background-color: var(--ad-color__primary_transparent);
}

@import "__item/_ad-root-nav__item";
@import "__link/_ad-root-nav__link";
@import "__list/_ad-root-nav__list";
