<header class="ad-root-header">
  <a class="ad-root-header__title-link" [routerLink]="['']">
    <h1 class="ad-root-header__title">Animation</h1>
  </a>
  <nav class="ad-root-nav">
    <ul class="ad-root-nav__list">
      <li class="ad-root-nav__item" *ngFor="let route of routeList">
        <a
            class="ad-root-nav__link"
            routerLinkActive="ad-root-nav__link_active"
            [routerLink]="route.path">
          {{ route.name }}
        </a>
      </li>
    </ul>
  </nav>
</header>

<main class="ad-root__main">
  <router-outlet></router-outlet>
</main>


