.ad-page-nav__link {
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  height: 40px;
  padding-right: 20px;
  padding-left: 30px;

  color: var(--ad-color__primary);
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 1px solid var(--ad-color__primary_transparent);

  transition: 300ms;

  &:hover {
    background-color: var(--ad-color__primary_transparent);
  }
}

@import "_active/ad-page-nav__link_active";
@import "_child/ad-page-nav__link_child";
@import "_parent/ad-page-nav__link_parent";
