.ad-root-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 15px;
  padding-left: 15px;

  color: var(--ad-color__secondary);

  background: var(--ad-color__primary);
  box-shadow: var(--ad-property__box-shadow);
}

@import "__title/_ad-root-header__title";
@import "__title-link/_ad-root-header__title-link";
